body {
    margin: auto;
    max-width: 1024px;
    background-color: black;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    padding-left:1px;
    
    
}
#pic{
    text-align:left;
}
#mainarea {
    /* margin: auto; */
    background-image: url("silverware.jpg");
    background-repeat: repeat;
    overflow: auto;
}
h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode';
    text-align: left;
    font-size: 22pt;
    text-decoration: underline;
    letter-spacing: 0.25em;
}
h2 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    text-decoration-line: underline;
    text-align: left;
}
abbr {
    text-decoration-line: underline;
}
#heading {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    font-size: 22pt;
}
.style{
    list-style-image:url("pie_icon.GIF");
}
ul{
    list-style-type:none;    
}
blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}
pre{
    text-align:right;
    
}
#w3c{
    text-align:right;

}
.styllisthead {
    font-weight: bold;
}
a{
    color:lawngreen;
    
}
.strng{
    font-weight:bold;
}
br{
    text-decoration:dashed;
}
