
fieldset{
    width: 41px;
    margin: auto;
    background-color: aquamarine;
    font-family: "Century Gothic",sans-serif;
}
input{
    font-weight:bold;
    font-size: 11pt;
    margin: 3px;
}
h1{
    text-align: center;
}
body{  
    margin-left: 20%;
    margin-right: 20%;
    
}
.input{
    margin: 5px;
   
    
}
