div{
   /* background-color: aquamarine; */
    text-align: center;
}
input{
    font-weight:bold;
    font-size: 11pt;
    margin: 3px;
}
h1{
    text-align: center;
}
body{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
}
.input{
    margin-left: 5px;
    
}